<li class="nav-item active">
    <a class="nav-link" href="../../index.html">Home
    </a>
</li>
<li class="nav-item" ng-controller="patient">
    <a class="nav-link" href="/fragments/doctor/doctor_past_visits_dashboard.html">Past Visits</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/fragments/doctor/diagnose_summary_dashboard.html">Diagnose Summary</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/fragments/doctor/managed_patients_dashboard.html">Managed Patients</a>
</li>