<!DOCTYPE html>
<html lang="" ng-app="medicallife" ng-controller="Doctor">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Medical File</title>

    <script src="../../vendor/jquery/jquery.slim.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../../controllers/doctor.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Medical File</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Admin'"
                ng-include="'/menus/admin_visit_table.html'">
            </ul>
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Doctor'"
                ng-include="'/fragments/menus/doctor_menu.html'">
            </ul>
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Patient'"
                ng-include="'/fragments/menus/patient_menu.html'">
            </ul>
        </div>
    </div>
</nav>

<div class="container" ng-init="pendingVisits()">
    <p ng-show="pendingVisits.length == 0">
        You have no pending visits! Hooray! :)
    </p>
    <p>
        {{declineMessage}}
    </p>
    <table class="table" ng-show="pendingVisits.length > 0">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Patient</th>
            <th scope="col">Status</th>
            <th scope="col">Action #1</th>
            <th scope="col">Action #2</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in pendingVisits">
            <th scope="row">{{$index}}</th>
            <td>{{ d.date }}</td>
            <td>{{ d.patient.first_name }} {{d.patient.last_name}}</td>
            <td>{{ d.visit_type }}</td>
            <td>
                <button ng-click="processVisitLoad(d.id)" ng-disabled="d.visit_type != 'NEW'">Process Visit</button>
            </td>
            <td>
                <button ng-click="declineVisit(d.id)" ng-disabled="d.visit_type != 'NEW'">Decline Visit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>