<!DOCTYPE html>
<html lang="" ng-app="medicallife" ng-controller="Doctor">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Medical File</title>

    <script src="../../vendor/jquery/jquery.slim.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../../controllers/doctor.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Medical File</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Admin'"
                ng-include="'/menus/admin_visit_table.html'">
            </ul>
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Doctor'"
                ng-include="'/fragments/menus/doctor_menu.html'">
            </ul>
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Patient'"
                ng-include="'/fragments/menus/patient_menu.html'">
            </ul>
        </div>
    </div>
</nav>

<form class="container" ng-init="getUserInfo()">
    <div class="form-group">
        <label for="userSelect"></label>
        <select class="form-control" id="userSelect" ng-model="patientUserId">
            <option ng-repeat="u in users" value="{{u.id}}">{{u.first_name}} {{u.last_name}}</option>
        </select>
    </div>

    <button class="btn btn-primary" ng-click="addManagedUser(patientUserId)" type="submit">Add</button>
</form>

<div class="container" ng-init="getManagedUsers()">
    <p ng-show="managedUsers.length == 0">
        You have no managed users!
    </p>
    <p>
        {{responseMessage}}
    </p>
    <table class="table" ng-show="managedUsers.length > 0">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">EGN</th>
            <th scope="col">Action #1</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="u in managedUsers">
            <th scope="row">{{$index + 1}}</th>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td> {{ u.egn }}</td>
            <td>
                <button ng-click="removeManagedUser(u.id)">Remove User</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>