<!DOCTYPE html>
<html lang="" ng-app="medicallife" ng-controller="Admin">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Medical File</title>

    <script src="../../vendor/jquery/jquery.slim.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="../../controllers/admin.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-init="getprofile()">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Medical File</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Admin'"
                ng-include="'/fragments/menus/admin_menu.html'">
            </ul>
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Doctor'"
                ng-include="'/fragments/menus/doctor_menu.html'">
            </ul>
            <ul class="navbar-nav ml-auto" ng-if="userrole.name == 'Patient'"
                ng-include="'/fragments/menus/patient_menu.html'">
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {{message}}
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="firstNameInput">First Name</label>
            <input aria-describedby="firstName" class="form-control" id="firstNameInput" ng-model="first_name"
                   placeholder="{{profileData.first_name}}" type="text"
                   value="{{profileData.first_name}}">
        </div>
        <div class="form-group">
            <label for="lastNameInput">Last name</label>
            <input aria-describedby="lastName" class="form-control" id="lastNameInput" ng-model="last_name"
                   placeholder="{{profileData.last_name}}" type="text"
                   value="{{profileData.last_name}}">

        </div>
        <div class="form-group">
            <label for="egnInput">EGN</label>
            <input aria-describedby="egn" class="form-control" id="egnInput" ng-model="egn"
                   placeholder="{{profileData.egn}}"
                   type="text" value="{{profileData.egn}}">
        </div>

        <div class="form-group" ng-init="doctors()">
            <label for="doctorId">Personal Doctor</label>
            <select class="form-control" id="doctorId" ng-model="doctorId">
                <option ng-repeat="d in doctors" value="{{d.id}}">{{d.name}} - {{d.specialty}}</option>
            </select>
        </div>

        <button class="btn btn-primary" ng-click="editPatientProfile(first_name, last_name, egn, doctorId)"
                type="submit">Edit Patient
        </button>
    </form>
</div>
<div class="container">
    <h2>Diagnnoses: </h2>
    <ul>
        <li ng-repeat="diagnose in profileData.diagnoses ">{{diagnose}}</li>
    </ul>
</div>

</body>
</html>